#check_all {
    width: 1075px;
    height: 58px;
    position: absolute;
    top: 91px;
    right: 0px;
    z-index: 10;
    background-color: #52d3f0;
    /* border: 1px solid red; */
    display: none;
}

#check_all button {
    width: 70px;
    height: 40px;
    border: none;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ff0000;
    border: 2px solid red;
}