.main_top {
    height: 110px;
    border-bottom: 5px solid #52d3f0;
}

.main_top_word {
    width: 1150px;
    height: 110px;
    margin: 0 auto;
    text-align: left;
    line-height: 110px;
    color: #52d3f0;
    font-size: 30px;
    padding-left: 100px;
    background-image: url(../img/ee.png);
    background-repeat: no-repeat;
    background-position: 10px 20px;
}